.button {
    position: relative;
    background-color: #5474fd;
    height: 60px;
    width: 225px;
    font-family: "Aleo Regular", sans-serif;
    font-size: 16px;
    color: white;
    text-transform: uppercase;

    &:hover {
        background-color: #496bfe;
    }

    &:active {
        font-weight: 600;
    }

    span {
        position: absolute;
        display: block;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
    }

}