@import './../../../../../../styles/constants/index.scss';

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;

    &__carousel-info{
        max-width: 85px;
        width: 100%;
        margin-left: 10px;
    }

    &__carousel-img-wrapper{
        height: 151px;
       

        img {
            min-height: 100%;
        }
    }
}

.slick-prev {
    height: 88px;
    width: 30px;
    background: url("./../../../../../../assets/images/prevArrow.png"); 
    left: -35px;;
    &:before {
       content: '';
    }

    &:hover {
        background: url("./../../../../../../assets/images/prevArrow.png"); 
    }
    &:focus {
        background: url("./../../../../../../assets/images/prevArrow.png"); 
    }
}

.slick-next {
    height: 88px;
    width: 30px;
    background: url("./../../../../../../assets/images/nextArrow.png"); 
    right: -35px;;
    &:before {
       content: '';
    }

    &:hover {
        background: url("./../../../../../../assets/images/nextArrow.png"); 
    }
    &:focus {
        background: url("./../../../../../../assets/images/nextArrow.png"); 
    }
}