.button {
    background-color:#998675;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: white;
    width: 170px;
    height: 53px;
    border-radius: 5%;
    box-sizing: border-box;
    border-bottom: 3px solid #736357;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        border-bottom: 3px solid #998675;
    }

    &:active {
        background-color: #75675b;
        border-bottom: 3px solid #75675b;
    }

}