@import './../../../../../../styles/constants/index.scss';

.section-name {
        font-family: "BebasNeue", Arial, Helvetica, sans-serif;
        font-size: 31px;
        color: $white;
        padding: 10px 0;
        background-color: $MediumTurquoise;
}