.about_us{
    
    &__container {
    height: auto;
    }
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 80px;
   
}

.design, .development, .customization, .marketing{
    text-align: center;
    position: relative;
    cursor: pointer;
        &:hover {
       
            i {
                transition: color, 0.3s ease;
                color: #c7b299;
            }

            p:nth-child(2){
                transition: color, 0.3s ease;
                color: #c7b299;
            }

            &:before {
                transition: background-color, 0.3s ease;
                background-color: #c7b299;
            }
        
    } 

    &:before {
        content: "";
        position: absolute;
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
     }

    i {
        color: #555555;
        font-size: 35px;
        margin-bottom: 20px;
    }
  
   p:nth-child(2)   {
        font-size: 22px;
        font-family: "Raleway", sans-serif;
        color: #555555;
        margin-bottom: 5px;
    }

    p:nth-child(3)   {
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      color: #8c8c8c;
      margin-bottom: 32px;
  }
  }